image:
  command: ["vllm", "serve", "/data/your-model", "--served-model-name", "your-model", "--host", "0.0.0.0", "--port", "8000"]

extraContainers: []
extraInit: null

# Add your PVC under volumes and mount it to /data
volumes:
  - name: model-volume
    persistentVolumeClaim:
      claimName: your-model-pvc

volumeMounts:
  - name: model-volume
    mountPath: /data



# resources:
#   limits:
#     cpu: 4
#     memory: 16Gi
#     nvidia.com/gpu: 1
#   requests:
#     cpu: 4
#     memory: 16Gi
#     nvidia.com/gpu: 1
