cluster:
  enabled: false
standalone:
  enabled: true
  messageQueue: woodpecker

# message queue options
woodpecker:
  enabled: true
pulsarv3:
  enabled: false
pulsar:
  enabled: false
streaming:
  enabled: true


extraConfigFiles:
  user.yaml: |+
    common:
      security:
        authorizationEnabled: true
        # milvus admin token: superUsers:defaultRootPassword - root:Milvus
        superUsers: root
        defaultRootPassword: Milvus

# TODO: Set up security properly
minio:
  enabled: true
  mode: standalone
  # replicaCount: 1
  # accessKey: minioadmin
  # secretKey: minioadmin
  # existingSecret: ""
  # bucketName: "copilot-milvus-bucket"
  persistence:
    size: 100Gi

etcd:
  enabled: true
  replicaCount: 1
